# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Output of 'npm pack'
*.tgz

package-lock.json
test.js
dist
.env

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
